<section class="section contacts">
  <div class="container">
    <h2 class="title section__title">Связаться <span>с нами</span></h2>
    <div class="grid">
      <div class="contacts__col-info">
        <div class="contacts__items">
          <div class="contacts__item">
            <h5 class="contacts__title">Офис</h5>
            <address class="contacts__text">Москва, ул. Уличная, д. 1, оф. 1</address>
          </div>
          <div class="contacts__item">
            <h5 class="contacts__title">Режим работы</h5>
            <p class="contacts__text">Пн-Вт: 10<sup>00</sup> — 19<sup>00</sup>; Сб-Вс: 10<sup>00</sup> — 15<sup>00</sup></p>
          </div>
          <div class="contacts__item">
            <h5 class="contacts__title">E-mail</h5>
            <p class="contacts__text"><a href="mailto:company@company.ru" class="link">company@company.ru</a></p>
          </div>
          <div class="contacts__item">
            <h5 class="contacts__title">Телефон</h5>
            <p class="contacts__text"><a href="tel:88009000000" class="link">8 (800) 900-00-00</a></p>
          </div>
          <div class="contacts__item">
            <h5 class="contacts__title">Социальные сети</h5>
            <div class="social">
              <a href="#" class="social__link"></a>
              <a href="#" class="social__link"></a>
              <a href="#" class="social__link"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__col-form">
        <h5 class="contacts__title">Остались вопросы?</h5>
        <form action="#" class="form contacts__form">
          <label class="form__item">
            <span class="form__label">Ваше имя</span>
            <input type="text" name="name" class="form__field" placeholder="Ваше имя">
          </label>
          <label class="form__item">
            <span class="form__label">Телефон / E-mail</span>
            <input type="text" name="phone-email" class="form__field" placeholder="example@example.com">
          </label>
          <label class="form__item">
            <span class="form__label">Ваше сообщение</span>
            <input type="text" name="message" class="form__field" placeholder="Текст обращения">
          </label>
          <div class="form__text">
            Нажимая на кнопку «Получить консультацию», вы соглашаетесь <br> на
            <a href="#" class="link" target="_blank">обработку персональных данных</a>
          </div>
          <button type="submit" class="button form__button">
            Получить консультацию
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
