<header class="header">
  <a href="#" class="header__item header__item--map">
    <svg>
      <use xlink:href="img/sprite.svg#map-marker"></use>
    </svg>
  </a>
  <div class="header__mobile">
    <ul class="list-reset nav">
      <li class="nav__item">
        <a href="#" class="nav__link nav__link--active">Главная</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">О компании</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Услуги</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Цены</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Портфолио</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Контакты</a>
      </li>
    </ul>
  </div>
  <div class="header__container">
    <ul class="list-reset nav header__nav">
      <li class="nav__item">
        <a href="#" class="nav__link nav__link--active">Главная</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">О компании</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Услуги</a>
      </li>
    </ul>
    <a href="#" class="header__logo">
      <svg>
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
    <ul class="list-reset nav header__nav header__nav--right">
      <li class="nav__item">
        <a href="#" class="nav__link">Цены</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Портфолио</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Контакты</a>
      </li>
    </ul>
  </div>
  <a href="tel:88009000000" class="header__item header__item--phone">
    <svg>
      <use xlink:href="img/sprite.svg#phone"></use>
    </svg>
  </a>
  <div class="header__item header__item--burger">
    <button class="burger" aria-label="Открыть меню">
      <span class="burger__line"></span>
    </button>
  </div>
  <div class="header__overlay"></div>
</header>
