<section class="hero">
  <div class="container">
    <div class="hero__top">
      <h1 class="title hero__title">
        Ремонт <span>и</span> дизайн <br>
        <span>в Москве и Московской области</span>
      </h1>
      <a href="#" class="button hero__button">
        Оставить заявку
      </a>
    </div>
  </div>
  <div class="hero__bottom">
    <picture class="hero__image">
      <source srcset="img/hero-image.webp" type="image/webp">
      <img loading="lazy" src="img/hero-image.jpg" width="1440" height="343" alt="Просто картинка">
    </picture>
    <ul class="grid list-reset services">
      <li class="services__item">
        <a href="#" class="services__link services__link--red">Услуги по ремонту</a>
      </li>
      <li class="services__item">
        <a href="#" class="services__link services__link--green">Виды работ</a>
      </li>
      <li class="services__item">
        <a href="#" class="services__link services__link--blue">Дизайн интерьера</a>
      </li>
      <li class="services__item">
        <a href="#" class="services__link services__link--purple">Ремонт помещений</a>
      </li>
    </ul>
    <a href="#portfolio" class="circle-button">
      <svg class="circle-button__figure" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19.5"></circle>
        <circle cx="20" cy="20" r="19.5"></circle>
      </svg>
      <svg class="circle-button__icon">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </a>
  </div>
</section>
