<section class="section portfolio" id="portfolio">
  <div class="container">
    <h2 class="title section__title">Примеры <span>выполненных</span> работ</h2>
    <ul class="list-reset grid">
      <li class="portfolio__item">
        <article class="portfolio-card">
          <picture class="portfolio-card__image">
            <source srcset="img/portfolio-image-1.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-image-1.jpg" width="730" height="270" alt="Новостройка">
          </picture>
          <h3 class="portfolio-card__title">
            <a href="#" class="portfolio-card__link">Новостройка</a>
          </h3>
          <ul class="list-reset portfolio-card__details">
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Сроки</span>
              <p class="portfolio-card__details-text">4 — 5 дней</p>
            </li>
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Стоимость</span>
              <p class="portfolio-card__details-text">Нет данных</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio-card">
          <picture class="portfolio-card__image">
            <source srcset="img/portfolio-image-2.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-image-2.jpg" width="360" height="550" alt="Новостройка">
          </picture>
          <h3 class="portfolio-card__title">
            <a href="#" class="portfolio-card__link">Новостройка</a>
          </h3>
          <ul class="list-reset portfolio-card__details">
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Сроки</span>
              <p class="portfolio-card__details-text">4 — 5 дней</p>
            </li>
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Стоимость</span>
              <p class="portfolio-card__details-text">Нет данных</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio-card">
          <picture class="portfolio-card__image">
            <source srcset="img/portfolio-image-3.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-image-3.jpg" width="360" height="270" alt="Вторичка">
          </picture>
          <h3 class="portfolio-card__title">
            <a href="#" class="portfolio-card__link">Вторичка</a>
          </h3>
          <ul class="list-reset portfolio-card__details">
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Сроки</span>
              <p class="portfolio-card__details-text">4 — 5 дней</p>
            </li>
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Стоимость</span>
              <p class="portfolio-card__details-text">Нет данных</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio-card">
          <picture class="portfolio-card__image">
            <source srcset="img/portfolio-image-4.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-image-4.jpg" width="360" height="270" alt="Вторичка">
          </picture>
          <h3 class="portfolio-card__title">
            <a href="#" class="portfolio-card__link">Вторичка</a>
          </h3>
          <ul class="list-reset portfolio-card__details">
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Сроки</span>
              <p class="portfolio-card__details-text">4 — 5 дней</p>
            </li>
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Стоимость</span>
              <p class="portfolio-card__details-text">Нет данных</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio-card">
          <picture class="portfolio-card__image">
            <source srcset="img/portfolio-image-5.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-image-5.jpg" width="360" height="550" alt="Новостройка">
          </picture>
          <h3 class="portfolio-card__title">
            <a href="#" class="portfolio-card__link">Новостройка</a>
          </h3>
          <ul class="list-reset portfolio-card__details">
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Сроки</span>
              <p class="portfolio-card__details-text">4 — 5 дней</p>
            </li>
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Стоимость</span>
              <p class="portfolio-card__details-text">Нет данных</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio-card">
          <picture class="portfolio-card__image">
            <source srcset="img/portfolio-image-6.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-image-6.jpg" width="360" height="270" alt="Вторичка">
          </picture>
          <h3 class="portfolio-card__title">
            <a href="#" class="portfolio-card__link">Вторичка</a>
          </h3>
          <ul class="list-reset portfolio-card__details">
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Сроки</span>
              <p class="portfolio-card__details-text">4 — 5 дней</p>
            </li>
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Стоимость</span>
              <p class="portfolio-card__details-text">Нет данных</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio-card">
          <picture class="portfolio-card__image">
            <source srcset="img/portfolio-image-7.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-image-7.jpg" width="360" height="270" alt="Вторичка">
          </picture>
          <h3 class="portfolio-card__title">
            <a href="#" class="portfolio-card__link">Вторичка</a>
          </h3>
          <ul class="list-reset portfolio-card__details">
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Сроки</span>
              <p class="portfolio-card__details-text">4 — 5 дней</p>
            </li>
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Стоимость</span>
              <p class="portfolio-card__details-text">Нет данных</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="portfolio__item">
        <article class="portfolio-card">
          <picture class="portfolio-card__image">
            <source srcset="img/portfolio-image-8.webp" type="image/webp">
            <img loading="lazy" src="img/portfolio-image-8.jpg" width="730" height="270" alt="Новостройка">
          </picture>
          <h3 class="portfolio-card__title">
            <a href="#" class="portfolio-card__link">Новостройка</a>
          </h3>
          <ul class="list-reset portfolio-card__details">
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Сроки</span>
              <p class="portfolio-card__details-text">4 — 5 дней</p>
            </li>
            <li class="portfolio-card__details-item">
              <span class="portfolio-card__details-title">Стоимость</span>
              <p class="portfolio-card__details-text">Нет данных</p>
            </li>
          </ul>
        </article>
      </li>
    </ul>
    <div class="portfolio__bottom">
      <a href="#" class="button portfolio__button">
        Все проекты
      </a>
    </div>
  </div>
</section>
